@using DevExtreme.AspNet.Mvc;

<div class="content-wrapper">
    @Html.DevExtreme().DataGrid().ID("classGirdControl").ColumnAutoWidth(true).ColumnResizingMode(ColumnResizingMode.NextColumn).Editing(c => c.AllowAdding(true).AllowDeleting(true).AllowUpdating(true).Mode(GridEditMode.Batch)).Grouping(x => x.AllowCollapsing(true).AutoExpandAll(true).ContextMenuEnabled(true).ExpandMode(GridGroupingExpandMode.RowClick)).GroupPanel(x => x.AllowColumnDragging(true).EmptyPanelText("Class")).Height("100%").Paging(x => x.Enabled(true)).Columns(col =>
        {
            col.Add().DataField("Id").Visible(false).ShowInColumnChooser(false).AllowEditing(false).FormItem(x=>x.Visible(false));
            col.Add().DataField("Name").DataType(GridColumnDataType.String).ValidationRules(x => x.AddRequired().Message("Class name is required!"));
            col.Add().DataField("Division").DataType(GridColumnDataType.String);
        }).DataSource(x=>x.WebApi().Controller("APIClass").Key("Id").UseHttpRouting(true))   
</div>

