<footer class="main-footer">
    @*<div class="pull-right hidden-xs">
            <b>Version</b> 2.3.8
        </div>*@
    <strong><a href="http://arconstech.com" target="_blank"><i class="fa fa-copyright"></i> 2017 Arcons Technology Inc.</a></strong>
</footer>

