
    <aside class="main-sidebar">
        <section class="sidebar">            
            <ul class="sidebar-menu">
                <li>
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" id="MainNavBarToggle">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i> <span class="hidden">Toggle navigation</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="/Home/Index">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-calendar"></i> <span>Attendance</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-edit"></i> <span>Assignments</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>Time Table</span>
                    </a>
                </li>
                @*<li class="treeview">
                    <a href="#">
                        <i class="fa fa-line-chart"></i> <span>Assesment</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-money"></i> <span>Fee Details</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-pie-chart"></i> <span>Analytics</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-recycle"></i> <span>Weekly Tracker</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-photo"></i> <span>Photo Gallery</span>
                    </a>
                </li>
               
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-edit"></i>
                        <span>Configuration</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="~/Class/Index" title="Accounts"><i class="fa fa-circle-o"></i>Class</a></li>
                        <li><a href="~/Subject/Index" title="School Fees Structure"><i class="fa fa-circle-o"></i>Subject</a></li>
                        <li><a href="#" title="Transactions"><i class="fa fa-circle-o"></i>Transactions</a></li>
                    </ul>
                </li>*@
            </ul>
        </section>
    </aside>

